@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Add";
    Layout = "_LauoutS";
}

<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="AddExcel" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" multiple="multiple" /><br>
    <input type="submit" value="Загрузить" />
</form>

<h3>Все файлы</h3>