<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Погода в Москве(Общий хедер)</h1>
    <div>
        @RenderBody()
    </div>
    <footer>Общий футер</footer>
</body>
</html>
